a,abbr,acronym,address,applet,b,big,blockquote,body,caption,center,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,font,form,h1,h2,h3,h4,h5,h6,html,i,iframe,img,ins,kbd,label,legend,li,object,p,pre,q,s,samp,small,span,strike,strong,sub,sup,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,var{padding:0;border:0;outline:0;vertical-align:baseline;background:0 0;margin:0}
ins{text-decoration:underline}
del{text-decoration:line-through}
dl,ul{list-style-position:inside;font-weight:700;list-style:none;}
ul li{list-style:none}
caption,th{text-align:center}
img{border:none;position:relative}
.clear{clear:both}
.section,.widget,.widget ul{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{padding:0;margin:0;line-height: 1.4em;}
a:link,a:hover,a:visited{color:#fed130;text-decoration:none}
:focus{outline:0}
a img{border:0}
#navbar-iframe{display:none;height:0;visibility:hidden}
span.item-control,a.quickedit{display:none!important}
body{background:$(body.background);color:#222;font-size:14px;font-family:'Open Sans',sans-serif;line-height:22px;padding:0;word-wrap:break-word}
*{outline:0;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease}
code{padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;border-radius:4px}
.archive .home-link,.index .home-link{display:none}
.uk-post-title,h2.post-title,h3.wrp-titulo,.PopularPosts ul li a,.item .post-title,.static_page .post-title,.related-title a,.cmmwidget a,ul.post-nav span,.comments h4,.comments .comments-content .comment-header a,ul.post-nav{font-family:'Roboto',sans-serif}
p.recent-des,.resumo span,.resumo a,.item .post-body,.static_page .post-body{font-family:'Open Sans',sans-serif}
.status-msg-body{font-size:13px}
.status-msg-wrap{font-size:13px;margin:0 auto 25px}
.status-msg-border{border:1px solid #f0f0f0;opacity:1}
.status-msg-bg{background-color:#fff}
.status-msg-wrap a:hover{text-decoration:underline}
#outer-wrapper{max-width:1170px;margin:0 auto;background-color:#FFF;}
.row{width:1170px}
#topnav{width: 100%;
    height: 30px;
    margin: 0;
    background: #171616;
    color: #999;
    height: 38px;}
.tm-head{margin:0 auto;height:38px;line-height:38px}
.tm-menu{float:left;height:38px}
#nav1 li{float:left;display:inline-block;line-height:30px;padding:0;margin-right:15px}
#nav1 li a{color:#aaa;font-size:11px;font-weight:400}
#nav1 li a:hover,.tn-head #social-top ul li a:hover{color:#fed130}
.tm-menu ul li a .fa{margin-right:5px}
.tn-right{float:right;height:30px}
.social-area{float:left;    margin-right: 10px;}
.tm-head #social-top{position:relative;display:block;margin-right:0}
.tm-head #social-top ul{overflow:hidden}
.tm-head #social-top ul li{line-height:38px;display:block;float:left;margin-left:15px;padding:0}
.tm-head #social-top ul li a{display:block;float:left;text-decoration:none;font-size:17px;color:#fff}
.tm-head #social-top ul li a:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.tm-head #social-top ul li a:hover{color:#fed130}
#social-top .facebook:before{content:"\f09a"}
#social-top .twitter:before{content:"\f099"}
#social-top .gplus:before{content:"\f0d5"}
#social-top .rss:before{content:"\f09e"}
#social-top .vimeo:before{content:"\f27d"}
#social-top .youtube:before{content:"\f167"}
#social-top .skype:before{content:"\f17e"}
#social-top .stumbleupon:before{content:"\f1a4"}
#social-top .tumblr:before{content:"\f173"}
#social-top .vine:before{content:"\f1ca"}
#social-top .stack-overflow:before{content:"\f16c"}
#social-top .linkedin:before{content:"\f0e1"}
#social-top .dribbble:before{content:"\f17d"}
#social-top .soundcloud:before{content:"\f1be"}
#social-top .behance:before{content:"\f1b4"}
#social-top .digg:before{content:"\f1a6"}
#social-top .instagram:before{content:"\f16d"}
#social-top .pinterest:before{content:"\f0d2"}
#social-top .delicious:before{content:"\f1a5"}
#social-top .codepen:before{content:"\f1cb"}
.uk-search-header{position:relative;height:38px;margin:0;padding-left:20px;border-left:1px solid #f0f0f0;font-size:12px;float:right;margin-left:10px}
.uk-search-header .fa-search{color:#fff;position:absolute;line-height:35px}
.uk-search-header .uk-searchbox-header{height:35px;border:0;background-color:transparent;padding-left:20px;font-size:12px;color:#fff;    width: 100px;}
#header-blog{height:90px;padding:35px 0;background-color:#fff;position:relative;overflow:hidden}
.header-content{margin:0 auto;} 
.header-logo{width:280px;height:90px;float:left}
.header-logo img{height:auto;max-height:95px;margin:0px 0 0;max-width:100%}
.Header h1{color:#171717;margin-bottom:10px;margin-top:15px;font-size:35px}
.header-ads{width:729px;max-width:100%;max-height:90px;float:right;margin:0}
#ads-content .widget h2{display:none}
#header-navigation{margin:0 auto;top:0;height:50px;background: #202020;}
.nav-wrapper{font-family:'Montserrat',sans-serif;margin:0 auto;box-sizing:border-box;height:50px}
.header-menu li.home-child{float:left;background-color:#fed130;height:50px;display:inline-block;padding:0;margin-right:1px;width:50px;text-align:center}
.header-menu li.home-child a{height:50px;line-height:50px;font-size:22px;font-weight:400;color:#FFF}
.header-menu li.home-child a:before{content:'\f015';display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:normal}
.header-menu li.home-child:hover{}
#menu{display:none}
#menu ul li{float:left;height:50px;display:inline-block;padding:0;margin-right:1px;transition:all .3s ease-out!important;-webkit-transition:all .3s ease-out!important;-moz-transition:all .3s ease-out!important;-o-transition:all .3s ease-out!important}
#menu ul li a{    height: 50px;
    line-height: 50px;
    transition: all .3s ease-out!important;
    -webkit-transition: all .3s ease-out!important;
    -moz-transition: all .3s ease-out!important;
    -o-transition: all .3s ease-out!important;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    padding: 0px 20px;
    display: block;
    font-family: "Roboto", Helvetica, Arial, sans-serif;}
#menu ul > li > a .fa{margin-right:8px}

#menu ul li.hasSub ul li a:after{display:none!important}
#menu ul li:hover ul{left:auto;z-index:9999}
#menu ul li ul{position:absolute;left:-9999px;z-index:9999;width:170px;margin:0;padding:0;box-shadow:0 1px 3px rgba(0,0,0,.3)}
#menu ul li ul li{background-color:#202020;float:none!important;display:block;padding:0;margin-right:0;height:auto}
#menu ul li ul li:hover{background-color:#fed130}
#menu ul li ul#sub-menu li a{padding: 10px;
    font-size: 16px;
    line-height: 36px;
    text-transform: capitalize;
    text-decoration: none;
    color: #e6e6e6!important;
    font-weight: 700;
    height: auto;
    font-family: "Exo", Helvetica, Arial, sans-serif;
    letter-spacing: 0.1px;}
#menu ul li ul#sub-menu li:hover a{color:#FFF!important}
#menu ul li ul li:hover a{color:#fed130!important}

ul#sub-menu li a {border-top: none;}
#menu ul li:hover {background: #fed130;}
#menu ul li:hover a{color: #202020;}
#menu ul li,#menu ul li ul,#menu ul li a,#menu ul li ul#sub-menu li a i{outline:0;transition:all 0s ease!important;-webkit-transition:all 0s ease!important;-moz-transition:all 0s ease!important;-o-transition:all 0s ease!important}

.header-menu li:nth-child(1){
  /*  background-color: #fed130!important; */
   background-color: #fed130 !important;
}
.header-menu li:nth-child(1) a{
 color: #202020!important;
}


.top-header-content {
    float: left;
    font-family: "Exo", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 30px;
    line-height: 40px;
 
}

.top-header-date {
    float: left;
    font-weight: 700;
    font-family: "Exo", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.top-header-date i {
    color: #999;
    font-size: 15px;
    margin-right: 7px;
}

.selectnav{display:none}
#selectnav1{margin-top:15px}
select.selectnav{color:#fff;padding:6px 5px 5px;border:0;background-color:#333;font:14px Roboto,sans-serif;cursor:pointer;width:100%;height:30px}
.header-random{position:relative;float:right}
.header-random li{list-style:none}
.header-random a.rdn-icon{-webkit-transition:all .3s ease-out 0;-moz-transition:all .3s ease-out 0;transition:all .3s ease-out 0;background-color:#fed130;cursor:pointer;display:block;height:50px;text-align:center;position:relative;right:0;top:0;width:50px;border-radius:0}
.header-random a.rdn-icon:before{color:#fff;content:'\f074';font-family:FontAwesome;font-size:20px;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;line-height:50px}
#content-wrapper{margin:25px auto;overflow:hidden}
.error_page #main-wrapper{width:100%!important;margin:0!important}
.error_page .sidebar-wrapper,.error_page .status-msg-wrap{display:none}
#error-wrap{color:$(main.text.color);text-align:center;padding:60px 0 80px}
.error-item{font-size:160px;line-height:1;margin-bottom:20px}
#error-wrap h2{font-size:25px;padding:20px 0 10px}
#error-wrap .homepage{padding-top:10px;display:block}
#error-wrap .homepage i{font-size:20px}
#error-wrap .homepage:hover{text-decoration:underline}
#main-wrapper{float:left;overflow:hidden;width:67.666%;word-wrap:break-word}
#feat-sec h2,#feat-sec .widget-content{display:none}
.box-title h2{    display: block!important;
    line-height: 13px;  font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    font-style: normal; 
    text-align: left;
    color: #fff;
    border-left: 7px solid #fed130;
    padding-left: 15px;
    font-family: "Exo", Helvetica, Arial, sans-serif;}
.box-title h2 a{color:#222}
.uk-featured-post{overflow:hidden;display:block;margin-bottom:25px}
.uk-featured-post .uk-column1{float:left;width:65%;box-sizing:border-box;padding-right:20px}
.uk-featured-post .uk-column2{float:right;width:35%}
.uk-featured-post .uk-column2 .item2{margin-bottom:15px}
.uk-featured-item{overflow:hidden;position:relative;padding:0}
.uk-post-thumb{width:100%;height:150px;display:block;overflow:hidden;position:relative}
.uk-post-thumb .uk-image{display:block;height:150px;overflow:hidden}
.uk-post-thumb .uk-image:hover,.block-image .thumb a:hover,.roma-widget .mag-thumb:hover,.PopularPosts img:hover,.related li .related-img:hover{-webkit-transform:scale(1.1)!important;-moz-transform:scale(1.1)!important;transform:scale(1.1)!important}
.uk-column1 .uk-post-thumb,.uk-column1 .uk-post-thumb .uk-image{height:308px}
.uk-post-caption{position:relative;width:100%;padding:10px 0 0;box-sizing:border-box}
.uk-column1 .uk-post-caption{padding:10px 0 0}
.uk-post-title{text-decoration: none;
color: #000;
    font-weight: 700;
    font-size: 17px;
    margin: 5px 0 10px;
    line-height: 1.2;
    font-family: "Roboto", Helvetica, Arial, sans-serif;}
.uk-column1 .uk-post-title{
    margin-bottom: 8px;
    text-decoration: none;
 color: #000;
    font-weight: 700;
    font-size: 22px;
    margin: 5px 0 10px;
    line-height: 1.2;
    font-family: "Roboto", Helvetica, Arial, sans-serif;}
.uk-post-title a{color:#222}
.uk-post-title a:hover{color:#fed130}
.uk-post-meta{font-weight:400;display:inline-block}
.uk-snippet span{margin-top:0;    line-height: 1.6;
    margin-bottom: 10px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 14px;}
.uk-post-meta span{float:left;font-size:11px;color:#aaa;padding:0;margin:0}
.uk-column1 .uk-post-meta span{font-size:12px;line-height:1.3em}
.uk-post-meta span strong{color:#222}
.uk-post-meta span:after{content:"-";margin:0 8px}
.uk-post-meta span.uk-date:after{display:none}
.uk-column1 .meta-border{margin:3px 0 8px}
#ads-home{width:728px;max-width:100%;max-height:90px;margin:0 auto 25px;overflow:hidden}
#ads-home .widget{line-height:0}
#ads-home .widget h2{display:none}
.post{display:block;overflow:hidden;word-wrap:break-word}
.index article,.archive article{overflow:hidden}
.index .post,.archive .post{padding:15px 0}
.index .post-outer:nth-of-type(1) .post{padding-top:0}
.block-image{float:left;width:290px;height:185px;position:relative;margin-right:20px}
.block-image .thumb{width:100%;height:185px;position:relative;display:block;z-index:2;overflow:hidden}
.block-image .thumb a{width:100%;height:185px;display:block}
.postags{position:absolute;top:15px;left:15px;z-index:3}
.postags a{font-size:11px;font-weight:700;line-height:19px;display:inline-block;padding:0 6px;background:#fed130;color:#fff;margin:0}
.postags a{display:none}
.postags a:first-child{display:inline-block}
.postags a:hover{background:#aaa}
.retitle h2{margin:8px 0;display:block}
.post h2 a {    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 22px;
    margin: 15px 0 10px;
    line-height: 1.2;
    font-family: "Roboto", Helvetica, Arial, sans-serif;}
.post h2 a:hover{color:#fed130}
.post_author_date{color:#C4C4C4;font-size:13px;font-weight:400;line-height:23px;margin:0 0 25px;text-transform:uppercase}
.post_author{font-weight:600;margin-right:5px}
div.post_author_date a{text-decoration:none}
.resumo{margin-top:5px;color:#888;font-size:12px;line-height:1.55em}
.resumo span{display:block;    line-height: 1.6;
    margin-bottom: 10px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: #888;
    font-size: 14px;}
.resumo a{background-color:#171717;color:#fff!important;font-size:11px;font-weight:700;line-height:19px;display:inline-block;padding:0 6px}
.resumo a:hover{background-color:#fed130}
.meta-border{display:block;width:60px;height:1px;background-color:#f0f0f0;margin:6px 0 10px}
.widget iframe,.widget img{max-width:100%}
.index .post-footer,.archive .post-footer{display:none!important}
.index .post h2,.archive .post h2{margin:0 0 8px;padding:0}
.item .post,.static_page .post{padding:0 0 25px}
.date-header{color:#222;display:block;overflow:hidden;font-size:12px;font-weight:400;line-height:1.3em;margin:0!important;padding:0}
.date-header a{color:#222}
#meta-post a {color:#222}
#meta-post a:after{content:"-";margin:0 8px}
.post-meta{color:#222;display:block;font-size:12px;font-weight:400;line-height:1.3em;margin:0;padding:0}
.hreview{display:none!important}
.breadcrumbs .fa-angle-right:before{margin:0 5px}
.breadcrumbs{margin:0;font-size:12px;margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #f8f8f8}
.breadcrumbs i{color:#888}
.breadcrumbs span a{color:#222}
.breadcrumbs span{color:#888}
.breadcrumbs span a:hover{color:#fed130}
.item article{margin-top:20px}
.item .post-head,.static_page .post-head{position:relative;margin:0 0 10px}
.item .post-title,.static_page .post-title{color:#222;display:inline-block;font-size:32px;font-weight:400;position:relative;line-height:1.3em}
.item .post-body,.static_page .post-body{width:100%;font-size:15px;line-height:1.5em;overflow:hidden}
.item .post-outer{padding:0}
.item .post-body img{max-width:100%;height: auto;margin: 10px 0;}
.post-meta a,.post-meta i{color:#222}
.post-meta .post-author a:after{content:"-";margin:0 6px 0 8px}
.post-timestamp{margin-left:0}
.label-head{position:relative;display:block;overflow:hidden;margin-top:20px;padding:0}
.label-head span{float:left;display:inline-block;font-size:13px;height:25px;line-height:25px;background-color:#f0f0f0;color:#222;padding:0 8px}
.label-head a{float:left;display:inline-block;font-size:13px;height:25px;line-height:25px;background-color:#222;color:#fff;padding:0 8px;margin-left:3px;margin-bottom:3px}
.label-head a:hover{background-color:#fed130}
.main .widget{margin:0}
.main .Blog{border-bottom-width:0}
.share-art{position:relative;display:block;overflow:hidden;margin:10px 0 15px;padding:10px 0;border-top:1px dotted #f0f0f0;border-bottom:1px dotted #f0f0f0}10
.sa-title{display:block;float:left;height:30px;line-height:30px;margin:8px 15px 8px 0;padding:0}
.sa-title strong{font-size:16px;display:block}
.share-art a{float:left;font-size:12px;line-height:30px;color:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;margin:8px 3px;padding:0 20px;height:30px;min-width:30px;text-align:center}
.share-art a:hover{background-color:#222;color:#fff}
.share-art a i.fa{margin-right:7px;font-size:15px}
.share-art .facebook{background-color:#003471}
.share-art .twitter{background-color:#00BFF3}
.share-art .googleplus{background-color:#EA4D29}
.share-art .pinterest{background-color:#C6393D}
.share-art .linkedin{background-color:#0077B5}
#related-posts{margin-bottom:10px}
.related-headline{   color: #222;

    line-height: 13px;
    overflow: hidden;
    margin-bottom: 15px;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 15px 0 20px;
    position: relative;
    text-transform: uppercase;
    font-style: normal;
    text-align: left;
    border-left: 7px solid #fed130;
    padding-left: 15px;
    font-family: "Exo", Helvetica, Arial, sans-serif;}
.hide-label{display:none}
.related li{width:31%;position:relative;overflow:hidden;float:left;display:block;box-sizing:border-box;margin:0 0 0 3.5%;padding:0}
.related-thumb{width:100%;height:130px;overflow:hidden}
.related li .related-img{width:100%;height:130px;display:block}
.related-title a{font-size:14px;line-height:1.35em;padding:10px 5px 10px 0;font-weight:400;color:#222;display:block}
.related-title a:hover{color:#fed130}
.related li:nth-of-type(1),.related li:nth-of-type(4),.related li:nth-of-type(7){margin-left:0}
.static_page .post-meta,.static_page .old_new{display:none}
.firstcharacter{float:left;color:#fed130;font-size:75px;line-height:60px;padding-top:4px;padding-right:8px;padding-left:3px}
.post-body h1,.post-body h2,.post-body h3,.post-body h4,.post-body h5,.post-body h6{margin-bottom:15px;color:#222}
blockquote{font-style:italic;color: #b50808;font-size:15px;line-height:1.5em;margin:10px 10px 10px 35px;padding:10px 15px 10px 0;}
blockquote:before{content:'\f10d';display:inline-block;color: #ff0101;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-right: 5px; margin-left: -22px;}
blockquote:after{content:'\f10e';display:inline-block;color: #ff0101;font-family:FontAwesome;font-style:normal;font-weight:400;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;margin-left:10px}
.widget .post-body ul,.widget .post-body ol{line-height:1.8em;font-weight:400}
.widget .post-body ul li{font-size:14px;margin:5px 0;padding:0;line-height:1.5}
.post-body ul li:before{content:"\f105";margin-right:5px;font-family:fontawesome}
.blogger-tab{display:block}
.comments{clear:both;margin-top:0;margin-bottom:0;color:#222}
.comments h4{font-size:13px;text-transform:capitalize;font-weight:400;padding:10px 0;margin:0;border-bottom:1px solid #eee}
.comments .comments-content{padding:10px 0}
.comments .comments-content .comment{margin-bottom:0;padding-bottom:8px}
.comments .comments-content .comment:first-child{padding-top:0}
.cmm-tabs .content-tab{background-color:transparent;padding:0}
.cmm-tabs-header{background-color:#171717;height:32px;margin-bottom:0px;position:relative}
.cmm-tabs-header h3 {display:inline-block;margin:0;color:#fff;font-family:'Montserrat',sans-serif;font-weight:500;text-transform:uppercase;font-size:13px;height:32px;line-height:32px;padding-left:10px}
.cmm-tabs-header h3 h9{display:none}
.simplyTab .cmm-tabs-header .wrap-tab{float:right}
.cmm-tabs-header .wrap-tab a{height:auto;line-height:32px;padding:0px 10px;font-size:14px;display:inline-block}
.cmm-tabs-header .wrap-tab li{float:left;width:auto}
.facebook-tab,.fb_iframe_widget_fluid span,.fb_iframe_widget iframe{width:100%!important}
.comments .item-control{position:static}
.comments .avatar-image-container{float:left}
.comments .avatar-image-container,.comments .avatar-image-container img{height:35px;max-height:35px;width:35px;max-width:35px;border-radius:2px}
.comments .comment-block{padding:10px;box-shadow:none;border:1px solid #eee;border-radius:2px}
.comments .comment-block,.comments .comments-content .comment-replies{margin-left:47px;margin-top:0}
.comments .comments-content .inline-thread{padding:0}
.comments .comments-content .comment-header{font-size:14px;border-bottom:1px solid #eee;padding:0 0 3px}
.comments .comments-content .user{font-style:normal;font-weight:500}
.comments .comments-content .icon.blog-author{font-weight:400}
.comments .comments-content .comment-content{text-align:justify;font-size:13px;color:#444;line-height:1.4em}
.comments .comment .comment-actions a{margin-right:5px;color:#fff;background-color:#171717;font-size:11px;font-weight:700;line-height:19px;display:inline-block;padding:0 6px}
.comments .comment .comment-actions a:hover{background-color:#fed130;text-decoration:none}
.comments .comments-content .datetime{margin-left:0;float:right;font-size:11px}
.comments .comments-content .comment-header a{color:inherit}
.comments .comments-content .comment-header a:hover{color:#fed130}
.comments .comments-content .icon.blog-author:before{content:"\f007";font-size:12px;font-family:FontAwesome}
.comments .thread-toggle{margin-bottom:4px;font-size:13px}
.comments .comments-content .comment-thread{margin:4px 0}
.comments .continue a{padding:0;padding-top:10px;font-size:13px;padding-left:47px;font-weight:700}
.comments .comments-content .loadmore.loaded{margin:0;padding:0}
.comments .comment-replybox-thread{margin:0}
iframe.blogger-iframe-colorize,iframe.blogger-comment-from-post{height:283px!important}
.cmm-tabs.simplyTab .content-tab{background-color:transparent;padding:0;margin-top:0}
.cmm-tabs.simplyTab .wrap-tab li a{font-family:'Roboto',sans-serif;text-transform:uppercase;color:#fff;font-weight:400;background-color:#222;height:32px;font-size:10px;letter-spacing:1px}
.cmm-tabs.simplyTab .wrap-tab li a.activeTab{background-color:#fed130;color:#fff}
.posts-title h2 a:before{margin-right:10px}
.cmm-tabs.simplyTab .wrap-tab{float:right}
.cmm-tabs.simplyTab .wrap-tab li{padding:0;line-height: 0;margin-left:0}
.wrap-tab{list-style:none}
.content-tab{transition:all .0s ease;-webkit-transition:all .0s ease;-moz-transition:all .0s ease;-o-transition:all .0s ease}
#blog-pager{clear:both;text-align:center;margin:0;font-family:'Montserrat',sans-serif}
.index .blog-pager,.index #blog-pager{display:block}
.index .blog-pager,.index #blog-pager,.archive .blog-pager,.archive #blog-pager{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;padding:15px 0 5px;text-align:left}
.showpageNum a,.showpage a,#blog-pager-newer-link a,#blog-pager-older-link a{color:#fff;background-color:#171717;font-size:14px;font-weight:400;line-height:24px;margin-right:5px;overflow:hidden;padding:4px 10px;text-decoration:none}
.showpageNum a:hover,.showpage a:hover,#blog-pager-newer-link a:hover,#blog-pager-older-link a:hover{decoration:none;background-color:#fed130}
.showpageOf{display:none;font-size:0}
.showpagePoint{
    color:#000;
    background-color:#fed130;
    font-size:14px;
    font-weight:400;
    line-height:24px;
    margin-right:5px;
    overflow:hidden;
    padding:4px 10px;
    text-decoration:none
}
.feed-links{clear:both;display:none;line-height:2.5em}
.sidebar-wrapper{float:right;overflow:hidden;width:29%;padding-top:0;padding-bottom:20px;word-wrap:break-word;color:#666;line-height:1.5em}
.sidebar-wrapper .widget{padding:0;background:#FFF;margin-bottom:20px;overflow:hidden}
.sidebar h2{    height: 34px;
    line-height: 34px;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    font-style: normal;
    text-align: left;
    background: #202020;
    color: #fff;
    border-left: 7px solid #fed130;
    padding-left: 15px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 400;}
.sidebar ul{list-style:none}
.sidebar li{margin:0;padding-bottom:.25em;padding-right:0;padding-top:0}
.sidebar .widget-content{margin:0; margin-bottom:10px}
#sidebar_tabs .widget h2{display:none}
#tab1,#tab2,#tab3{    margin-top: 20px;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
.tab-opt{padding:0}
.tab-opt li{width:33.3333%;background-color:#171717;display:inline-block;padding:0;float:left}
.tab-opt{overflow:hidden;clear:both;margin:0 0 10px}
.tab-opt li.active,.tab-opt li.active a{background-color:#fed130}
.tab-opt li a{text-align: center;
    padding: 0;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    height: 34px;
    line-height: 36px;
    letter-spacing: 1px;
    display: block;
    font-family: "Exo", Helvetica, Arial, sans-serif;}
.tab-opt li:hover{background-color:#222}
#sidebar_tabs .cmmwidget{margin-bottom:20px}
.sidebar .roma-widget li:first-child,.sidebar .cmmwidget li:first-child{padding-top:0}
.list-label-widget-content li{display:block;padding:6px 0;position:relative}
.list-label-widget-content li:first-child{padding:0 0 6px}
.list-label-widget-content li:last-child{padding-bottom:0;border-bottom:0}
.list-label-widget-content li a:before,.list-label-widget-content li span:first-child:before{content:"\f105";font-family:Fontawesome;margin-right:6px;font-size:14px;color:#222}
.list-label-widget-content li a,.list-label-widget-content li span:first-child{color:#222;font-size:13px;font-weight:400}

#footer .list-label-widget-content li a,#footer .list-label-widget-content li span:first-child{color:#fff;font-size:13px;font-weight:400}
.list-label-widget-content li a:hover,.list-label-widget-content li span:first-child{color:#fed130}
.list-label-widget-content li span:last-child{color:#aaa;font-size:13px;font-weight:400;float:right}
.cloud-label-widget-content{margin-top:10px}
.cloud-label-widget-content span a{font-size:12px;color:#999;background-color:#f4f4f4;padding:7px 14px;float:left;position:relative;display:inline-block;margin:0 1px 1px 0;text-transform:capitalize}
.cloud-label-widget-content span a:hover{color:#fff;background-color:#fed130}
.cloud-label-widget-content span span{font-size:13px;color:#757575;background-color:#f9f9f9;padding:7px 14px;float:left;position:relative;display:inline-block;margin:0 5px 5px 0;text-transform:capitalize;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px}
.label-size-1,.label-size-2{opacity:100}
.FollowByEmail td{width:100%;float:left}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit{margin-left: 0;
 
    border-radius: 0;
    height: 45px;

    border: none;
    color: #000;
    font-size: 18px;
    letter-spacing: 0px;
    outline: none;
    font-family: "Exo", Helvetica, Arial, sans-serif;
    text-align: center;
    padding: 10px 10px;
    width: 100%;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    -webkit-appearance: none;background-color:#fed130;}
.follow-by-email-inner:after {
    content: " We respect your privacy";
    display: block;

    margin-top: 10px;
    color: #666;
    font-size: 14px;
    text-align: center;
    line-height: 1.2;
    font-weight: 700;
    font-family: "Exo", Helvetica, Arial, sans-serif;
}
.FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{background-color:#171717;color:#FFF}
.FollowByEmail .follow-by-email-inner .follow-by-email-address{    height: 45px;
    box-sizing: border-box;
    border: none;
    background: #292929;
    padding: 14px 10px;
    color: #777;
    font-size: 14px;
    text-align: center;
    outline: none;
    width: 100%;
    font-family: "Exo", Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin-bottom: 10px;}
.FollowByEmail .follow-by-email-inner .follow-by-email-address:focus{border:1px solid #EEE}
.FollowByEmail .widget-content{background: #000;
    padding: 30px;
    color: #fff;}
.FollowByEmail .widget-content:before{content:"GET MORE STUFF";    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: -1px;
    font-weight: 700;
    text-align: center;
    line-height: 1;}


.follow-by-email-inner:before {
    content: "in your inbox";
    color: #fed130;
    text-transform: none;
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 800;
    text-align: center;
    display: block;
    margin-bottom: 20px;
}
.flickr_widget .flickr_badge_image{float:left;margin-bottom:5px;margin-right:10px;overflow:hidden;display:inline-block}
.flickr_widget .flickr_badge_image:nth-of-type(4),.flickr_widget .flickr_badge_image:nth-of-type(8),.flickr_widget .flickr_badge_image:nth-of-type(12){margin-right:0}
.flickr_widget .flickr_badge_image img{max-width:67px;height:auto}
.flickr_widget .flickr_badge_image img:hover{opacity:.5}
#ArchiveList select{border:1px solid #EEE;padding:6px;width:100%;cursor:pointer;font:normal normal 13px Roboto}
.PopularPosts .item-thumbnail{margin:0 10px 0 0 !important;width:100px;height:70px;float:left;overflow:hidden}
.PopularPosts .item-snippet{display:none}
.PopularPosts ul li img{padding:0;width:100px;height:70px}
.PopularPosts .widget-content ul li{overflow:hidden;padding:10px 0}
.sidebar .PopularPosts .widget-content ul li:first-child{padding-top:0}
.PopularPosts ul li a{color:#222;font-weight:400;font-size:14px;line-height:1.4em}
.PopularPosts ul li a:hover{color:#fed130}
.PopularPosts .item-title{margin:0;padding:0}
.PopularPosts .item-title .popular_span{color:#C4C4C4;font-size:13px;font-style:normal;line-height:21px;margin-top:3px}
.sidebar .roma-widget li{overflow:hidden;padding:10px 0}
.roma-widget .wid-thumb{width:100px;height:70px;float:left;margin-right:10px;overflow:hidden}
.roma-widget .mag-thumb{display:block;width:100px;height:70px}
.roma-widget .wrp-titulo{font:normal normal 15px;margin:0 0 3px;overflow:hidden}
.roma-widget .wrp-titulo a{color:#222;font-weight:400;font-size:14px;line-height:1.4em}
.roma-widget .wrp-titulo a:hover{color:#fed130}
.p-date{color:#aaa;font-weight:400;font-size:11px}
.cmmwidget li .avatarImage{position:relative;overflow:hidden;padding:0}
.cmmwidget li{background:none!important;clear:both;list-style:none;word-break:break-all;display:block;overflow:hidden;margin:0;padding:10px 0}
.cmmwidget li span{margin-top:4px;color:#aaa;display:block;font-family:'Open Sans',sans-serif,sans-serif;line-height:1.3em;text-transform:lowercase;font-size:12px;font-weight:400}
.avatarRound{width:45px;height:45px}
img.rc-img{width:100%}
.cmmwidget a{color:#222;position:relative;font-size:14px;text-transform:capitalize;display:block;overflow:hidden;font-weight:500}
.cmmwidget a:hover{color:#fed130}
.cmmwidget{list-style:none;padding:0}
.cmmwidget li .avatarImage{float:left;margin:0 10px 0 0}
.post-nav li{padding:0;display:inline-block;width:50%}
.post-nav li strong{display:block;padding:0 0 5px;font-weight:700;letter-spacing:1px;font-size:13px}
.post-nav li strong i{transition:all .0s ease;-webkit-transition:all .0s ease;-moz-transition:all .0s ease;-o-transition:all .0s ease}
.post-nav li.previous a strong:before,.post-nav li.next a strong:after{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400}
.post-nav li.previous a strong:before{content:"\f104";margin-right:8px}
.post-nav li.next a strong:after{content:"\f105";margin-left:8px}
ul.post-nav{background-color:#FFF;border-top:1px dotted #f0f0f0;display:block;width:100%;overflow:hidden}
.post-nav li a{color:#222;line-height:1.33;display:block;padding:15px 0 0;transition:all .0s ease;-webkit-transition:all .0s ease;-moz-transition:all .0s ease;-o-transition:all .0s ease}
.post-nav li:hover a{color:#fed130}
ul.post-nav span{font-size:13px;font-weight:400}
.post-nav .previous{float:left;box-sizing:border-box;padding-right:10px}
.post-nav .next{text-align:right;padding-left:10px;box-sizing:border-box}
h2{margin:0}
.footer-column .roma-widget li{overflow:hidden;border-bottom:1px solid #eee;padding:10px 0}
#footer-wrapper{background-color:#171717}
#footer{display:block;overflow:hidden;width:100%}
.footer-sections{overflow:hidden;margin:0 auto;padding:25px 0 15px}
.sect-left{display:inline-block;float:left;width:31.33%;margin-right:3%}
.sect-left .widget:nth-child(2){margin-top:15px}
.sect-left:nth-child(3){margin-right:0}
.sect-left .widget-title{position:relative;margin-bottom:10px;border-bottom:1px solid #272727}
.sect-left h2{display:inline-block;    font-weight: 600;
    letter-spacing: 1px;
    font-size: 16px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase;
    font-style: normal;
    text-align: left;
    color: #fff;
    border-left: 7px solid #fed130;
    padding-left: 15px;
        font-family: "Roboto", Helvetica, Arial, sans-serif;
  }
.sect-left h2 a{color:#fff}
.sect-left .PopularPosts ul li a,.sect-left .cmmwidget a,.sect-left .roma-widget .wrp-titulo a{color:#fff}
.sect-left .roma-widget li{overflow:hidden;padding:10px 0}
.sect-left .PopularPosts .widget-content ul li:first-child,.sect-left .roma-widget li:first-child{padding-top:0}
.sect-left .roma-widget .wrp-titulo a:hover,.sect-left .PopularPosts ul li a:hover,.sect-left .cmmwidget a:hover{color:#fed130}
.footer-wrapper{background-color:rgba(0,0,0,0.24);color:#aaa;display:block;overflow:hidden;padding:15px 0 13px;width:100%}
.footer-wrapper .footer-sec{margin:0 auto}
.footer-wrapper .copyright{font-size:12px}
.footer-wrapper .copyright a{color:#fff}
.footer-wrapper .copyright a:hover{color:#fed130}
.footer-wrapper #social-footer{float:right;position:relative;display:block;margin-right:-12px}
.footer-wrapper #social-footer ul{overflow:hidden}
.footer-wrapper #social-footer ul li{display:block;float:left;margin-right:10px;margin-left:10px}
.footer-wrapper #social-footer ul li a{display:block;float:left;text-decoration:none;color:#aaa}
.footer-wrapper #social-footer ul li a:hover{color:#fed130}
.footer-wrapper #social-footer ul li a:before{display:inline-block;font-family:FontAwesome;font-style:normal;font-weight:400;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.footer-wrapper a:active,.footer-wrapper #social-footer ul li a:active{color:#fed130}
#social-footer .facebook:before{content:"\f09a"}
#social-footer .twitter:before{content:"\f099"}
#social-footer .gplus:before{content:"\f0d5"}
#social-footer .rss:before{content:"\f09e"}
#social-footer .vimeo:before{content:"\f27d"}
#social-footer .youtube:before{content:"\f167"}
#social-footer .skype:before{content:"\f17e"}
#social-footer .stumbleupon:before{content:"\f1a4"}
#social-footer .tumblr:before{content:"\f173"}
#social-footer .vine:before{content:"\f1ca"}
#social-footer .stack-overflow:before{content:"\f16c"}
#social-footer .linkedin:before{content:"\f0e1"}
#social-footer .dribbble:before{content:"\f17d"}
#social-footer .soundcloud:before{content:"\f1be"}
#social-footer .behance:before{content:"\f1b4"}
#social-footer .digg:before{content:"\f1a6"}
#social-footer .instagram:before{content:"\f16d"}
#social-footer .pinterest:before{content:"\f0d2"}
#social-footer .delicious:before{content:"\f1a5"}
#social-footer .codepen:before{content:"\f1cb"}
.sect-left .FollowByEmail .follow-by-email-inner .follow-by-email-address{border:1px solid #333;background-color:#222;color:#ddd}
.sect-left .FollowByEmail .widget-content{background-color:#222}
.sect-left .FollowByEmail .widget-content:before{color:#ddd}
.sect-left .FollowByEmail .follow-by-email-inner .follow-by-email-submit:hover{background-color:#333}
.sect-left #ArchiveList select{border:1px solid #272727;background-color:#222;color:#ddd}
.sect-left #ArchiveList select option{color:#ddd}
.sect-left .cloud-label-widget-content span a{color:#ddd;background-color:#222}
.sect-left .cloud-label-widget-content span a:hover{color:#fff;background-color:#fed130}
#back-to-top{background-color:#171717;color:#fff;padding:7px 10px;font-size:14px;line-height:1;text-align:center;transition:all 0s ease;-webkit-transition:all 0s ease;-moz-transition:all 0s ease;-o-transition:all 0s ease}
#back-to-top:hover{background-color:#fed130;transition:all .3s ease;-webkit-transition:all .3s ease;-moz-transition:all .3s ease;-o-transition:all .3s ease}
.back-to-top{position:fixed!important;position:absolute;bottom:70px;    right: 48px;
    width: 40px;z-index:9999}

@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

#weather {
 
  margin: 0px auto;
  text-align: center;
  text-transform: uppercase;
}

#weather i {
  color: #fff;
  font-family: weather;
  font-size: 34px;
  font-weight: normal;
  font-style: normal;
  line-height: 1.0;
  text-transform: none;
margin-left:10px;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

#weather li {
     display: inline-block;
    border-radius: 5px;
    color: #fff;
}

#weather .currently {
  margin: 0 20px;
}


/*------*|*|*| Featured Blog Posts *|*|*|----------*/
.blog_featured_posts {
display: inline-block;
width: 100%;
margin-top: 5px;
margin-bottom: 25px;
}
.blog_featured_post {
display: block;
position: relative;
float: left;
overflow: hidden;
height:400px;
}

.blog_featured_post.first {
width: 49%;
margin-right: 25px;
}
.blog_featured_post.second {
width: 22%;
margin-right: 25px;
}
.blog_featured_post.third, .blog_featured_post.fourth {
width: 24.72%;
height:187px;
}
.blog_featured_post.third {
margin-bottom: 25px;
}

.blog_featured_post a {
display: block;
color: rgb(255, 255, 255);
text-shadow: rgba(0, 0, 0, 0.498039) 0px 1px 1px;
position: relative;
vertical-align: bottom;
z-index: 1;
height:100%;
}


.blog_featured_post a:before {
display: block;
position: absolute;
content: '';
left: 0px;
top: 0px;
width: 100%;
height: 100%;
opacity: 0.5;
-webkit-transition: all 0.2s;
transition: all 0.2s;
}
.blog_featured_post a .blog_contents {
display: block;
position: absolute;
z-index: 5;
bottom: 30px;
left: 30px;
right: 30px;
font-weight:bold;
letter-spacing: -1px;
text-transform: uppercase;
line-height: 120%;
-webkit-transition: all 0.2s;
transition: all 0.2s;
font-family: raleway, sans-serif;
}

.blog_featured_posts span {
    font-style: normal;
    display: block;
    position: absolute;
    bottom: 100%;
    padding: 8px 10px 20px;
    letter-spacing: 0px;
    font-size: 12px;
    line-height: 1;
    top: 0;
    right: 0;
    text-shadow: none;
    margin-bottom: 10px;
    background: #20C1DD;
    text-transform: uppercase;
}

.blog_featured_post a .blog_contents h3 {
font-size: 18px;
line-height: 1.35;
font-weight: bold;
}
.blog_featured_post.first a .blog_contents h3 {font-size: 22px!important;}
.blog_featured_post .feat-img{
width:100%;
height:100%;
background-size:cover;
background-position:50%;
}

/* CSS ticker */

.ticker {
    overflow: hidden;

}

.ticker .title {
    float: left;
    width: 180px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    background: #202020;

}


.post-tag{
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0px 5px;
    font-size: 13px;
    margin-right: 4px;
    color: #fff !important;
    font-family: &#39;Museo500Regular&#39;, Helvetica, Arial, sans-serif;
    background-color: #B565BE;
}



.ticker .ticker-icon {
    float: left;
    margin-left: 10px;
}

.ticker .ticker-icon i {
    margin-right: 15px;
    display: inline-block;
}

.ticker .title h6 {
    float: left;
    line-height: 40px;
    font-size: 17px;
    font-weight: 400;
}

.ticker .tickercontainer {
    width: 84%;
    margin: 0;
    overflow: hidden;
    float: left;
    height: 40px;
}

.ticker .tickercontainer .mask {
    position: relative;
    top: 6px;
    overflow: hidden;
    height: 40px;
}

.ticker ul.newsticker {
    position: relative;
    left: 100px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
}

.ticker ul.newsticker li {
    float: left;
    padding: 2px;
    height: 40px;
    margin-right: 15px;
}

.ticker ul.newsticker a {
    white-space: nowrap;
    padding: 0 7px;
    color: #505050;
    height: 22px;
    font-size: 15px;
    font-weight: 600;
}


a.post-tag {
    line-height: 21px;
}
.newsticker li:nth-child(1) a.post-tag{
    background-color: #4791d2;
}
.newsticker li:nth-child(2) a.post-tag{
    background-color: #E94B35;
}

.newsticker li:nth-child(3) a.post-tag{
    background-color: #1E73BE;
}
.newsticker li:nth-child(4) a.post-tag{
    background-color: #DD3333;
}
.newsticker li:nth-child(5) a.post-tag{
     background-color: #E94B35;
}
.newsticker li:nth-child(6) a.post-tag{
   background-color: #1E73BE;
}
.newsticker li:nth-child(7) a.post-tag{
    background-color: #DD3333;
}
.newsticker li:nth-child(8) a.post-tag{
    background-color: #479123;
}

.newsticker .recent-title{display: inline-block;}
.ticker ul.newsticker span {
    margin: 0 10px 0 0;
}

.ticker ul.newsticker .sep {
    display: inline-block;
    width: 6px;
    height: 7px;
    margin: 0 40px;
}

.ticker-section {
    overflow: hidden;
    background: #fff;
    margin: 20px auto 0;
    border: 1px solid #eee;
}

.ticker-section .ticker {
}

.sidebar-wrapper .BlogArchive a {
    color: #333;
}

.socials a {
    display: block;
    padding: 12px 15px;
    margin-bottom: 5px;
    color: white;
    position: relative;
}

.social-facebook {
    background: #1c3e67;
}

.social-facebook:before {
    content: "\f09a";
    font-family: "FontAwesome";
    padding-right: 10px;
    margin-right: 10px;
    font-size: 18px;
    border-right: 1px solid rgba(255,255,255,.3);
}
.socials a span, .socials a:before {
    position: relative;
    z-index: 2;
}

.social-count {
    font-weight: 900;
    font-size: 14px;
    line-height: 1;
    position: absolute;
    padding-top: 4px;
}

.social-text {
    float: right;
}
.social-text strong {
    font-weight: 900;
}


.socials a:after {
    content: " ";
    width: 0;
    height: 100%;
    background: #252b42;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

.social-twitter {
    background: #28a6c5;
}

.social-twitter:before {
    content: "\f099";
    font-family: "FontAwesome";
    padding-right: 10px;
    margin-right: 10px;
    font-size: 18px;
    border-right: 1px solid rgba(255,255,255,.3);
}

.social-subscribe {
    background: #d2002c;
}
.social-subscribe:before {
    content: "\f167";
    font-family: "FontAwesome";
    padding-right: 10px;
    margin-right: 10px;
    font-size: 18px;
    border-right: 1px solid rgba(255,255,255,.3);
}

.main-slider .slides li:hover .overlay{background-color:rgba(0,0,0,0.2)}
.main-slider{    position: relative;
    width: 100%;
    height: 430px;
    overflow: hidden;
    list-style: none;
    padding: 0;
    margin-bottom: 30px;}
.main-slider .slides > li{position:relative;width:100%;height:430px;overflow:hidden;list-style:none;padding:0}
.main-slider .slider-img{height:430px;overflow:hidden;display:block}
.main-slider img{width:100%;height:100%}
.main-slider .slider-img .overlay{background-color:rgba(0,0,0,0.05)}
.slider-entry{position:absolute;width:90%;bottom:0;left:0;overflow:hidden;z-index:2;box-sizing:border-box;padding:0 0 25px 25px;opacity:.85}
.slider-entry .post-title{font-family: "Roboto", Helvetica, Arial, sans-serif;font-size:22px;font-weight:700;line-height:1.4em;margin:0;float:left;background-color:#fed130;box-sizing:border-box;padding:5px 10px}
.slider-entry .post-title a{color:#fff}
.slider-entry .slide-cap{background:#2c2c2c;margin:0;color:#ccc;float:left;padding:10px}
.slider-entry .item-meta{float:left;margin-bottom:5px}
.slider-entry .slide-cap p{float:left;margin:0;font-weight:400;font-size:13px;line-height:1.5em;padding:0}
.main-slider .flex-direction-nav{position:absolute;top:10px;right:10px;width:68px;z-index:5;display:block;transition:all .3s ease}
.main-slider .flex-direction-nav li{padding:0}
.main-slider .flex-direction-nav a{width:32px;height:32px;background-color:#fed130;float:left;font-size:14px;color:#333;line-height:32px;text-align:center;transition:background .3s}
.main-slider .flex-next{margin-left:1px}
.item-meta{color:#979797;font-size:11px;font-weight:400}
.item-date{margin-right:10px}
.post-body a {color: #357ae8;}
.showpageNum a, .showpage a, #blog-pager-newer-link a, #blog-pager-older-link a {color: #fff;}
.header-logo img {max-height: 125px;height: 90px;max-width: 100%;width: auto;}
#meta-post, .p-date, .uk-post-meta{display:none;}
.post-outer{margin-bottom: 28px;}
.header-logo {height: inherit;}
#PlusBadge1 {text-align: center;}
#back-to-top {background-color: #ebb92d;padding: 8px 11px;}
#header-blog {height: inherit;padding: 35px 0 20px 0;}
.sidebar ul {margin-left: 30px;}
.sidebar h2 {margin-bottom: 10px;}
.post-body h1, .post-body h2{color: #427fed;margin: 25px 0 15px 0;}
.post-body h3, .post-body h4, .post-body h5, .post-body h6 {margin: 10px 0 15px 0;}
#PageList1 ul li{list-style: square; margin-left: 46px;color: #fff; line-height: 2em;}
#PageList1 ul li a {color: #fed130;}
.FollowByEmail .widget-content {padding: 15px;}
#Stats1_content{text-align: right;}
#menu ul li a {font-size: 16px;text-transform: none;font-weight: normal;}
#menu ul li ul#sub-menu li a {padding: 10px 0 10px 20px;font-size: 15px;line-height: 28px;font-weight: normal;}
#sub-menu li:nth-child(1) {background: #fed130;}
#menu ul li ul#sub-menu li:nth-child(1) a {color: #202020 !important;}
#menu ul li:hover, #menu ul li ul#sub-menu li a:hover {background-color: #276ea1;}
#menu ul li:hover a { color: #fff; }
.status-msg-border {border: 1px solid #f0f0f0;opacity: 1;display: none;}
.status-msg-wrap {margin: 0 auto 35px;background: #c3ceb6;height: 38px; line-height: 30px;width: 100%;}
.status-msg-body {font-size: 15px;}
.post-body div{margin-bottom: 15px;text-align: justify;line-height: 1.65em;}.post-body table {width: 90%;margin: 0 auto;}
.post-body table td {border: 1px solid #BDC3C9;padding:3px 5px;vertical-align: middle;}
.post-body table th, .post-body table tr:first-child {background: #dcf9f6;vertical-align: middle;text-align: center;}
#HTML9{margin-top: 10px;}
.post p{
    line-height: 1.8em;
    text-align: justify;
    margin-bottom: 15px;
}
